@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-ui_roboto bg-ui_light text-ui_dark;
}

.section {
  @apply py-10 md:py-[50px] xl:py-[60px];
}

/* FORM STYLES */
.field {
  @apply w-full min-h-[55px] px-4 text-ui_light_16 rounded-2xl border border-ui_accent bg-transparent placeholder:text-ui_dark_transparent_50;
}

.error {
  @apply absolute inline-block bottom-0 left-0 md:left-4 text-ui_red text-ui_light_14 md:text-ui_light_16 translate-y-full pt-1;
}

/* REACT-PHONE-INPUT-2 */
.flag {
  @apply scale-x-[2] scale-y-[1.6] left-[26px];
}

.react-tel-input .selected-flag {
  @apply !w-[90px];
}

.react-tel-input .selected-flag .arrow {
  @apply !border-solid !border-l-[4px] !border-l-transparent !border-r-[4px] !border-r-transparent !border-t-[5px] !border-t-ui_dark_transparent_50;
}

.react-tel-input .selected-flag .arrow.up {
  @apply !border-b-[5px] !border-t-transparent !border-b-ui_dark_transparent_50 !-translate-y-1/2;
}

.react-tel-input .selected-flag:focus:before,
.react-tel-input .selected-flag.open:before {
  @apply outline !shadow-none !rounded-tl-2xl !rounded-bl-2xl;
}

.country {
  @apply !pl-14;
}

/* TICKER */
.ticker > div {
  @apply w-[2348px] xl:w-[3336px];
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

/* SWIPER */
.sliderSwiper .swiper-wrapper {
  padding-bottom: 50px;
}
.sliderSwiper .swiper-pagination {
  bottom: -0px !important;
}
.sliderSwiper .swiper-pagination-bullet {
  @apply relative w-[60px] h-[20px] opacity-100 !mx-3 bg-transparent;
}
.sliderSwiper .swiper-pagination-bullet-active {
  @apply relative bg-transparent;
}

.sliderSwiper .swiper-pagination-bullet::after {
  @apply absolute left-0 top-1/2 content-[''] w-[60px] h-[2px] rounded-sm bg-ui_accent_transparent_40;
}
.sliderSwiper .swiper-pagination-bullet-active::after {
  @apply absolute left-0 top-1/2 content-[''] w-[60px] h-[2px] rounded-sm bg-ui_accent;
}

/* .reviews .swiper {
  height: 173px;
} */

.reviews .swiper-wrapper {
  padding-bottom: 75px;
}

.quoteBlockFirst::before,
.quoteBlockSecond::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 1px solid transparent;
  -webkit-mask:
    linear-gradient(rgba(241, 241, 241, 1) 0 0) padding-box,
    linear-gradient(rgba(241, 241, 241, 1) 0 0);
  -webkit-mask-composite: destination-out;
}

.quoteBlockFirst::before {
  background: linear-gradient(to right, rgba(241, 241, 241, 1), transparent 90%)
    border-box;
}

.quoteBlockSecond::before {
  background: linear-gradient(to left, rgba(241, 241, 241, 1), transparent 90%)
    border-box;
  -webkit-mask:
    linear-gradient(rgba(241, 241, 241, 1) 0 0) padding-box,
    linear-gradient(rgba(241, 241, 241, 1) 0 0);
  -webkit-mask-composite: destination-out;
}
